

.login {
  min-height: 100vh;
  background-color: #fafafa;
}

.bg-image {
  background: rgb(60,81,255);
  background: linear-gradient(180deg, rgba(60,81,255,1) 0%, rgba(7,12,79,1) 100%);
  background-position: center;
  background-color: #ffffff;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  display: flex;
  justify-content: left;
  align-items: center;
  
}



.bg-image .content {
  padding: 2rem;
  border-radius: 10px;
  text-align: left;;
  padding-left: 4.8rem;
}

.bg-image h1 {
  font-weight: bold;
  font-size: 2.4em; /* adjust the font size as needed */
}

.bg-image p {
  font-size: 1.1rem;
}

.bg-image button {
  background-color: #007bff;
  color: white; 
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 3px;
}



.Logo {
  background-color: transparent;
  padding-left: 2rem;
}

.Logo img {
  width: 290px; /* Tamaño del logo */
  height: 300px; /* Tamaño del logo */
  opacity: 0.5;
}



.login-heading:first-child {
  font-weight: bold;
  font-size: 2.2em; /* adjust the font size as needed */
  text-align: center;
}

.login-heading:nth-child(2) {
  font-size: 1em; /* adjust the font size as needed */
  margin-bottom: 15px;
  text-align:center ;
}






.login-bottom-p{
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 40px;
  padding: 20px
  
}

.login-bottom-p a{
  text-decoration: none;
  font-weight: 600;
  color: grey;
}

.login-bottom-p a:hover{
  text-decoration: underline;
  color: gray;
}

.button {
  background-color: #007bff; /* blue background color */
  border: none; /* no border */
  border-radius: 25px; /* rounded corners */
  color: white; /* white text */
  padding: 10px 3px; /* padding */
  text-align: center; /* center text */
  text-decoration: none; /* no underline */
  font-size: 16px; /* font size */
  cursor: pointer; /* pointer cursor on hover */
  margin-top: 17px;
  
}






.pass-input-div {
  margin-bottom: 13px;
  position: relative;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.pass-input-div .form-control {
  padding: 12px 1px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 17px;
  border: none;
  
}

.pass-input-div .form-control::placeholder {
  color: #ccc;
}


.pass-input-div .input-group-text {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
}




.login-bottom-p a {
  transition: background-color 0.5s ease-in-out;
}

.login-bottom-p a.active {
  background-color: #ccc;
  color: #fff;
}