/* Añadir estos estilos a tu archivo CSS o SCSS */
.main-sidebar {
    background-color: #fff !important;
}

.brand-link {
    border-bottom: 1px solid #ddd;
}

.user-panel {
    border-bottom: 1px solid #ddd;
}

.user-panel > .info > .d-block {
    color: #475569 !important;
}

.nav-item:hover {
    background-color: #47556942;
    border-radius: 4px;
}

.nav-sidebar .menu-open>.nav-treeview {
    display: block;
}

.nav-sidebar>.nav-item>.nav-link {
    border-radius: 4px;
}

.nav-item>.nav-link.active>p {
    color: #ffffff;
}

.nav-item>.nav-link>p {
    color: #475569;
}

.nav-sidebar > .nav-link.active > p {
    color: white !important;
}

/* Añadir estos estilos a tu archivo CSS o SCSS */
.nav-sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.nav-sidebar .nav-link.active .nav-icon {
    color: #fff;
}

.nav-sidebar .nav-icon {
    color: #484d52d3;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52rem;
}

.bottom-menu {
    margin-top: auto;
    margin-bottom: 1rem;
}


.brand-text-font-weight-light {
    color: rgba(24, 24, 24, 0.726);
}
