.blur-background {
    filter: blur(4px);
    pointer-events: none;
}

.modal.show {
    display: block;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table th, .table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table th.description, .table td.description {
    max-width: 150px; 
}
