.settings-container {
    padding: 20px;
}

.user-config-card {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.user-info {
    text-align: center;
}

.user-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.upload-logo {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group-setting {
    width: 48%;
    margin-bottom: 15px;
}


.form-group-setting label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: start;
}

.form-control-setting {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #E5E5E5 !important;
}

.save-o {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.save-button:hover {
    background-color: #0056b3;
}

#card-user-config-card {
    border-radius: 1em;
}